body {
  font-family: Arial, Helvetica, sans-serif;
}

form {
  padding-top: 20px;
}

.main {
  margin-left: 25px;
}

.alert {
  background: pink;
}

.hidden {
  display: none;
}

.alert-info {
  padding-left: 15px;
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}

.get-color {
  width: 25%;
  float: left;
}

.display-color {
  float: left;
}

.visual-color {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  float: left;
}

.format-color {
  padding: 25px 0 0 25px;
  float: left;
}